._idgenobjectattribute {
    height: auto;
    text-indent: 0;
    width: auto
    }
._idgenobjectattribute1 {
    font-size: 1em;
    height: auto;
    line-height: 1.618em;
    width: auto
    }
._idgenobjectattribute2 {
    height: auto;
    text-align: justify;
    width: auto
    }
._idgenobjectattribute3 {
    height: auto;
    text-align: justify;
    text-indent: 0;
    width: auto
    }
._idgenobjectattribute4 {
    font-size: 1em;
    height: 400px;
    line-height: 1.618em;
    width: auto
    }
._idgenobjectattribute5 {
    height: 400px;
    width: auto
    }
._idgenobjectattribute6 {
    height: 400px;
    text-align: justify;
    width: auto
    }
._idgenobjectlayout {
    -webkit-text-stroke-width: 0;
    display: block;
    font-family: Arial;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    orphans: auto;
    text-align: justify;
    text-indent: 0;
    text-transform: none;
    white-space: normal;
    widows: auto;
    word-spacing: 0
    }
._idgenobjectstyle-disabled {
    display: block;
    text-align: center
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: #00C
    }
.calibre2 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre6 {
    font-family: FangSong
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    font-size: 1em;
    line-height: 1.618em;
    text-indent: 2em
    }
.calibre9 {
    font-family: KaiTi
    }
.calibre10 {
    display: block;
    line-height: 1.2
    }
.calibre11 {
    color: #d9490b
    }
.calibre12 {
    color: rgb(217, 73, 11);
    font-size: 1em;
    line-height: 1.618em;
    text-indent: 2em
    }
.calibre13 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 2em
    }
.calibre14 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre15 {
    height: auto;
    text-align: center;
    width: auto
    }
.calibre16 {
    font-size: 1em;
    line-height: 1.618em;
    text-align: center;
    text-indent: 2em
    }
.calibre17 {
    color: rgb(217, 73, 11);
    font-size: 1em;
    line-height: 1.618em;
    text-align: center;
    text-indent: 2em
    }
.calibre18 {
    font-size: 1em;
    line-height: 1.618em
    }
.calibre19 {
    color: rgb(217, 73, 11);
    font-size: 1em;
    line-height: 1.618em;
    text-align: center
    }
.calibre20 {
    color: d9490b
    }
.calibre21 {
    text-indent: 31.068159px
    }
.calibre22 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-align: center
    }
.calibre23 {
    color: aabc36
    }
.calibre24 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre25 {
    color: rgb(170, 188, 54);
    text-indent: 31.068159px
    }
.calibre26 {
    color: 2594d0
    }
.calibre27 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre28 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre29 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.618em;
    text-indent: 2em
    }
.calibre30 {
    color: 9a999a
    }
.calibre31 {
    color: #9a999a
    }
.calibre32 {
    font-family: FangSong;
    text-indent: 31.068159px
    }
.calibre33 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.618em
    }
.calibre34 {
    font-size: 1em;
    line-height: 1.618em;
    text-indent: 31.068159px
    }
.calibre35 {
    font-family: SimHei
    }
.calibre36 {
    text-align: justify;
    text-indent: 31.068159px
    }
.calibre37 {
    display: block;
    page-break-after: always
    }
.calibre38 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.618em;
    text-indent: 31.068159px
    }
.charoverride {
    line-height: 1.2
    }
.charoverride1 {
    text-align: justify
    }
.ji_ben_wen_ben_kuang_jia {
    display: block;
    text-align: justify
    }
.ji_ben_wen_ben_kuang_jia1 {
    -webkit-text-stroke-width: 0;
    display: block;
    font-family: Arial;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    letter-spacing: normal;
    orphans: auto;
    text-align: justify;
    text-indent: 0;
    text-transform: none;
    white-space: normal;
    widows: auto;
    word-spacing: 0
    }
.ji_ben_wen_ben_kuang_jia2 {
    display: block;
    text-indent: 0
    }
.kindle-cn-blockquote {
    background: #f9f9f9;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 0.5em;
    display: block;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-indent: 2em
    }
.kindle-cn-toc-level {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.kindle-cn-toc-level1 {
    display: block;
    margin-left: 0
    }
.kindle-cn-toc-title {
    border-bottom-color: #000;
    border-bottom-style: dotted;
    border-bottom-width: 1.5px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.paraoverride {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.sgc-toc-title {
    display: block
    }
.shou_zi_xia_chen {
    display: block;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.sigil_not_in_toc {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.tu_shuo_biao_bai {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 2em
    }
.tu_shuo_biao_ti {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.tu_shuo_biao_ti1 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.tushuobiaoti {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.zheng_wen {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 2em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

