.block {
    color: #146Eb4;
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 2em
    }
.block1 {
    color: #02439B;
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: right;
    text-indent: 2em
    }
.block2 {
    color: #02439B;
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 2em
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre2 {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    oeb-column-number: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 2em
    }
.calibre4 {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 2em
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre10 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre11 {
    line-height: 1.2
    }
.calibre12 {
    font-size: 0.91667em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre14 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre15 {
    display: block
    }
.calibre16 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre17 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre18 {
    font-size: 1em;
    line-height: normal;
    vertical-align: sub
    }
.calibre19 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre20 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    text-align: left
    }
.calibre21 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre22 {
    font-style: italic
    }
.center {
    display: block;
    margin-bottom: 1em;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.front {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.img {
    color: #146Eb4;
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.kindle-cn-toc-level {
    display: block;
    margin-left: 0
    }
.left {
    display: block;
    margin-bottom: 1em;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0.5em;
    text-indent: 0
    }
.note {
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 2em
    }
.right {
    display: block;
    margin-bottom: 1em;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0.5em;
    text-align: right;
    text-indent: 2em
    }
.right1 {
    color: #146Eb4;
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: right;
    text-indent: 2em
    }
.u {
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

